.metadata/*
Server/*.pyc
Server/*.db
Client/*.o
Client/myChat
Server/ChatServerDB
Client/.cproject
Client/.project
Client/audioProcessing/testVS
Client/audioProcessing/*.o
Client/audioSession*
Report/*.aux
Report/*.pdf
Report/*.log
Report/*.idx
Report/*.dvi
Report/*.blg
Report/*.bbl
