.metadata/*
Server/*.pyc
Server/*.db
Client/*.o
Client/myChat
Server/ChatServerDB
Client/.cproject
Client/.project
Client/audioProcessing/testVS
Client/audioProcessing/*.o
Client/audioSession*
Report/Client_Chapter.aux
Report/Client_Chapter.pdf
Report/Client_Chapter.log
Report/Client_Chapter.idx
Report/Client_Chapter.dvi
Report/Client_Chapter.blg
Report/Client_Chapter.bbl
